
/*
Selectores por Etiqueta

etiqueta { 
    propiedad: valor 
}

Cuando utilizamos el nombre de una etiqueta HTML dentro de nuestras reglas CSS, 
estamos creando un selector de etiqueta. Este selector hace referencia a todos 
los elementos del documento HTML que tengan esa misma etiqueta.
*/

body {
    background-color: black;
    color: aliceblue;
}
h1 {
    color: aqua;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(37, 35, 35);
    border: 1px solid #979797;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/*

Selector por Clase

.nombreCalse {
    propiedad: Valor    
}

Un selector de clase te permite aplicar estilos a múltiples elementos HTML
que compartan una misma clase. Recordemos que para seleccionar la clase se debe
poner un punto 
*/

.subTitulo{
    color: chocolate;
    font-size: 40px ;
}

/*

Selector por ID

#id-del-elemento {
    propiedad: valor;
}

Un selector de ID te permite aplicar estilos a un único elemento HTML. Cada 
elemento HTML puede tener un ID único, lo que significa que puedes aplicar 
estilos muy específicos a elementos individuales. Para seleccion el Id se hace 
con el #
IMPORTANTE: LOS ID NO SE DEBEN REPETIR.

*/

#tituloPrincipal{
    color: blueviolet;
    font-size: 80px;
}

/*
Jerarquia
La jerarquía HTML influye en cómo aplicamos los estilos. Los estilos de un 
elemento padre se heredan a sus hijos, pero pueden ser sobrescritos.


*/

nav ul{
    list-style: none;  /* Elimina los marcadores de lista*/
    padding: 0;
}

nav li{
    margin: 0 300px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;  /*Elimina el subrayado de la etiqueta a*/
    color: rgb(190, 190, 190);
    font-weight: bold;
}

nav a:hover{
    background-color: rgb(129, 77, 121);
}
